/* Based on: <https://github.com/not-holar/my_firefox_theme/tree/main/firefox/chrome> */

/* Icon overrides */
#back-button > .toolbarbutton-icon {
  list-style-image: url("../icons/back.svg") !important;
}

#bookmarks-menu-button > .toolbarbutton-icon {
  list-style-image: url("../icons/bookmarks.svg") !important;
}

#forward-button > .toolbarbutton-icon {
  list-style-image: url("../icons/forward.svg") !important;
}

#downloads-indicator-icon {
  list-style-image: url("../icons/downloads.svg") !important;
}

#history-panelmenu {
  list-style-image: url("../icons/history.svg") !important;
}

/*
#PanelUI-menu-button > .toolbarbutton-icon {
  list-style-image: url("../icons/menu.svg") !important;
}
*/

#nav-bar-overflow-button > .toolbarbutton-icon {
  list-style-image: url("../icons/overflow.svg") !important;
}

#reload-button > .toolbarbutton-icon {
  list-style-image: url("../icons/reload.svg") !important;
}

/* Based on: <https://github.com/datguypiko/Firefox-Mod-Blur/raw/master/EXTRA%20MODS/Icon%20and%20Button%20Mods/Menu%20icon%20change/menu_icon_change_to_firefox.css> */
/* Change main menu icon to firefox logo */
@media (prefers-color-scheme: dark) {
  #navigator-toolbox #PanelUI-menu-button {
    list-style-image: url(../icons/firefox.svg) !important;
  }

  :root[privatebrowsingmode="temporary"]
    #navigator-toolbox
    #PanelUI-menu-button {
    list-style-image: url(../icons/firefox-private.svg) !important;
  }
}

@media (prefers-color-scheme: light) {
  #navigator-toolbox #PanelUI-menu-button {
    list-style-image: url(../icons/firefox-light.svg) !important;
  }

  :root[privatebrowsingmode="temporary"]
    #navigator-toolbox
    #PanelUI-menu-button {
    list-style-image: url(../icons/firefox-private-light.svg) !important;
  }
}

#back-button,
#forward-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 0 !important;
}

#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  padding: 6px !important;
  border: none !important;
  box-shadow: none !important;
}

:root:not([uidensity="compact"]) #nav-bar #back-button > .toolbarbutton-icon {
  --backbutton-background: transparent;
  background-origin: unset !important;
  background-clip: unset !important;
  border: unset !important;
  transition: unset !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}
