@import "browser/icons.css";
@import "bar/buttons.css";
@import "bar/tabbar.css";
@import "bar/toolbar.css";
@import "bar/sidebar.css";
@import "bar/urlbar.css";
@import "bar/findbar.css";
@import "menu/appmenu.css";
@import "menu/contextmenu.css";
@import "menu/extensions-menu.css";
@import "menu/developer-tools.css";
@import "browser/navigation.css";
@import "misc/round-items.css";
@import "panel/statuspanel.css";
@import "browser/indicators.css";
@import "styling/fonts.css";
@import "browser/tweaks.css";
@import "styling/colors.css";
