@import "styling/fonts.css";
@import "browser/tweaks.css";
@import "bar/scrollbar.css";
@import "styling/colors.css";

/* Per site styles */
@import "sites/browser.css";
@import "sites/mozilla.css";
@import "sites/youtube.css";
@import "sites/google.css";
@import "sites/chatgpt.css";
@import "sites/gemini.css";
@import "sites/spotify.css";

/* Text Highlight color on webpages */
@-moz-document regexp("http(s)?:.*") {
  ::selection {
    background-color: transparent !important;
    color: #c38f8f !important;
  }
}

/* Removes discover Sections */
/* Remove Recommendations page/section from about:addons */
.category[name="discover"] {
  display: none !important;
}
