@import "browser/icons.css";
@import "bar/buttons.css";
@import "bar/toolbar.css";
@import "bar/sidebar.css";
@import "bar/urlbar.css";
@import "bar/findbar.css";
@import "menu/appmenu.css";
@import "menu/contextmenu.css";
@import "menu/extensions-menu.css";
@import "browser/navigation.css";
@import "misc/round-items.css";
@import "panel/statuspanel.css";
@import "styling/fonts.css";

/* Change the default ugly cyan color in various elements/UI */
:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #c38f8f !important;
  --button-primary-bgcolor: #c38f8f !important;
  --button-primary-hover-bgcolor: #c38f8f !important;
  --button-primary-active-bgcolor: #c38f8f !important;
  --in-content-primary-button-background: #c38f8f !important;
  --in-content-primary-button-background-hover: #c38f8f !important;
  --in-content-primary-button-background-active: #c38f8f !important;
  --input-border-color: #c38f8f !important;
  --uc-checkbox-checked-bgcolor: #c38f8f !important;
  --checkbox-checked-bgcolor: #c38f8f !important;
  --focus-outline-color: #c38f8f !important;
  --in-content-link-color: #c38f8f !important;
}

/* Downloads indicator progress bar */
#downloads-indicator-progress-inner {
  --toolbarbutton-icon-fill-attention: #c38f8f;
}
.downloadProgress::-moz-progress-bar {
  --download-progress-fill-color: #c38f8f;
}

/* Remove white flash when reloading a page */
body,
html,
.browserContainer,
#mainPopupSet:not(url("about:config")),
#main-window:not(url("about:config")),
#tabbrowser-tabbox:not(url("about:config")) {
  background-color: #202020 !important;
}
.browserContainer,
#tabbrowser-tabpanels {
  background: #202020 !important;
}
