/* Based on: https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/compact_about_config.css */
/* Compact about:config list */
@-moz-document url("about:config") {
  .button-delete,
  .button-edit,
  .button-reset,
  .button-save,
  .button-toggle {
    margin-block: 1px !important;
    padding-block: 12px 0 !important;
    padding-inline: 0 !important;
    min-height: 22px !important;
    width: 24px !important;
    outline-offset: 0 !important;
  }
  .cell-edit {
    width: 30px !important;
  }
  form > input,
  tr:not(.add) > th,
  tr:not(.add) > .cell-value {
    padding-block: 0 !important;
  }
  tr:not(:hover) .semi-transparent:not(.primary, .button-add) {
    background-color: transparent !important;
  }
}

/* Change the default ugly cyan color in various elements/UI */
:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #c38f8f !important;
  --button-primary-bgcolor: #c38f8f !important;
  --button-primary-hover-bgcolor: #c38f8f !important;
  --button-primary-active-bgcolor: #c38f8f !important;
  --in-content-primary-button-background: #c38f8f !important;
  --in-content-primary-button-background-hover: #c38f8f !important;
  --in-content-primary-button-background-active: #c38f8f !important;
  --input-border-color: #c38f8f !important;
  --uc-checkbox-checked-bgcolor: #c38f8f !important;
  --checkbox-checked-bgcolor: #c38f8f !important;
  --focus-outline-color: #c38f8f !important;
  --in-content-link-color: #c38f8f !important;
}

* {
  scrollbar-width: thin !important;
}

*:not(select) {
  scrollbar-color: #c38f8f #202020 !important;
}

/* Remove white flash when reloading a page */
body,
html,
.browserContainer,
#mainPopupSet:not(url("about:config")),
#main-window:not(url("about:config")),
#tabbrowser-tabbox:not(url("about:config")) {
  background-color: #202020 !important;
}
.browserContainer,
#tabbrowser-tabpanels {
  background: #202020 !important;
}
