/* Based on Based on: https://github.com/Etesam913/rounded-fox */

/* Auto Hide Toolbar */
/* Breaks on Firefox 113.0+ */
/*
#navigator-toolbox-background {
    height: 0 !important;
}

#titlebar {
    display: none !important;
}

.titlebar-buttonbox-container {
    display: none !important;
}

#navigator-toolbox:not(:hover) {
    --is-bar-visible: hidden;
    opacity: 0 !important;
    height: 10px;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

#navigator-toolbox {
    position: relative;
    z-index: 1;
    overflow: var(--is-bar-visible);
}

#navigator-toolbox:hover {
    height: 40px;
    opacity: 1 !important;
    transition: opacity 200ms ease-in-out;
}

#navigator-toolbox:focus-within {
    height: 40px;
    opacity: 1 !important;
    transition: opacity 200ms ease-in-out;
    --is-bar-visible: visible;
}

toolbarbutton[open="true"] {
    --is-bar-visible: visible !important;
}
*/

/* Move the toolbar to the bottom */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /* Background color of the URL selection menu */
  #urlbar-results .urlbarView-row[selected] {
    background-color: #a30817 !important;
  }

  /* Text color of the URL selection menu */
  #urlbar-results .urlbarView-row[selected] .urlbarView-title {
    color: #ffffff !important;
  }

  #main-window body {
    flex-direction: column-reverse !important;
  }

  #navigator-toolbox {
    flex-direction: column-reverse !important;
  }

  #urlbar {
    top: unset !important;
    bottom: calc(
      (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
    ) !important;
    box-shadow: none !important;
    display: flex !important;
    flex-direction: column !important;
  }

  #urlbar-input-container {
    order: 2;
  }

  #urlbar > .urlbarView {
    order: 1;
    border-bottom: 1px solid #161616;
  }

  #urlbar-results {
    display: flex;
    flex-direction: column;
  }

  .search-one-offs {
    display: none !important;
  }

  .tab-background {
    border-top: none !important;
  }

  #navigator-toolbox::after {
    border: none;
  }

  #TabsToolbar .tabbrowser-arrowscrollbox,
  #tabbrowser-tabs,
  .tab-stack {
    min-height: 30px !important;
  }

  .tabbrowser-tab {
    font-size: 80%;
  }

  .tab-content {
    padding: 0 5px;
  }

  .tab-close-button .toolbarbutton-icon {
    width: 12px !important;
    height: 12px !important;
  }

  toolbox[inFullscreen="true"] {
    display: none;
  }
}
