@import "../styling/animations.css";

/* Remove the zoom button from the URL bar */
#urlbar-zoom-button {
  display: none !important;
}

/* Remove the tracking protection icon from the URL bar */
#tracking-protection-icon-container,
.urlbar-input-container > #tracking-protection-icon-container {
  display: none !important;
}

/* Remove the bookmark star button from the URL bar */
/*
#star-button-box {
  display: none !important;
}
*/

/* Remove the reader mode button from the URL bar */
#reader-mode-button {
  display: none !important;
}

/* Remove the picture-in-picture button from the URL bar */
#picture-in-picture-button {
  display: none !important;
}

/* Remove the identity permission box from the URL bar */
#identity-permission-box {
  display: none !important;
}

/* Remove the permissions granted icon from the URL bar */
/*
#permissions-granted-icon {
  display: none !important;
}
*/

/* Hide the identity box from the URL bar */
/*
#identity-box {
  display: none !important;
}
*/

/* Hide the identity icon by default */
#identity-icon {
  display: none !important;
}

/* Show the identity icon when the site is insecure */
#identity-box[pageproxystate="valid"].notSecure #identity-icon {
  display: inline !important;
}

/* Remove search engines from the search bar and the search button */
#urlbar .search-one-offs:not([hidden]),
#urlbar .urlbar-search-button {
  display: none !important;
}

/* Remove the identity icon of extension pages from the URL bar */
/* AKA: Remove "loaded from an extension" message/button from the URL bar */
#urlbar #identity-box.extensionPage #identity-icon-label {
  display: none !important;
}

/* Remove the placeholder text from the URL bar */
/* AKA: Remove "Search or enter address" message from the URL bar */
#urlbar-input::placeholder,
.urlbar-input::placeholder {
  opacity: 0 !important;
}

/* Slide-up animation of the urls when the URL bar is focused */
#urlbar[focused] #urlbar-results {
  animation: slideUp 0.2s ease-out forwards;
}

/* Darkens the background when url bar is focused with animation */
#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
  content: "";
  position: fixed;
  pointer-events: none;

  width: 100vw;
  height: 100vh;

  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0.6);
  animation: darkenBackground 0.5s forwards;

  z-index: -1;
}

/* Lightens the background when url bar loses focus with animation */
#urlbar:not(
    :is([breakout][breakout-extend], [breakout][usertyping][focused])
  ):after {
  content: "";
  position: fixed;
  pointer-events: none;

  width: 100vw;
  height: 100vh;

  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0);
  animation: lightenBackground 0.5s forwards;

  z-index: -1;
}

/* Center text on urlbar */
/* Ensure text remains centered in the URL bar, even when focused */
#urlbar[focused] #urlbar-input,
#urlbar[focused] .urlbar-input,
#urlbar:not([focused]) #urlbar-input,
#urlbar:not([focused]) .urlbar-input {
  text-align: center !important;
}

.urlbar-input-container,
#urlbar .urlbar-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}

/* Change text highlight color when clicking on the URL bar */
#urlbar-input::selection,
.urlbar-input::selection {
  background-color: #c38f8f !important;
  color: #ffffff !important;
}

/* Change domain color in URL dropdown */
#urlbar-results .urlbarView-row .urlbarView-url {
  color: #c8d0d4 !important;
}

/* Change the title color */
#urlbar-results .urlbarView-row .urlbarView-title {
  color: #c38f8f !important;
}

/* Add color to urlbar border when urlbar is focused */
#urlbar-container {
  --toolbar-field-focus-border-color: #c38f8f !important;
}

/* Background color of the URL selection menu */
#urlbar-results .urlbarView-row[selected] {
  background-color: #c38f8f !important;
}

/* Text color of the full URL besides title in the URL selection menu */
#urlbar-results :is(.urlbarView-tags, .urlbarView-action, .urlbarView-url) {
  color: #c38f8f !important;
}

/* Text color of the URL selection menu */
#urlbar-results .urlbarView-row[selected] .urlbarView-title {
  color: #ffffff !important;
}

/* Based on: Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/urlbar_connection_type_background_colors.css */
/* Add a colored overlay to urlbar based on the type of the connection */
/* For normal pages */
#identity-box[pageproxystate="valid"] ~ .urlbar-input-box {
  animation: colorCycle 20s linear infinite;
}

/* Mixed content including neterror */
#identity-box[pageproxystate="valid"].unknownIdentity ~ .urlbar-input-box {
  color: orange;
}

/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].notSecure ~ .urlbar-input-box {
  color: orangered;
}

/* Extension pages */
#identity-box[pageproxystate="valid"].extensionPage ~ .urlbar-input-box {
  color: violet;
}

/* Internal about: and chrome:// urls (includes reader-view) */
#identity-box[pageproxystate="valid"].localResource ~ .urlbar-input-box,
#identity-box[pageproxystate="valid"].chromeUI ~ .urlbar-input-box {
  color: dodgerblue;
}
