/* Based on: https://github.com/MrOtherGuy/firefox-csshacks/raw/master/chrome/centered_statuspanel.css */

/* Centered Status Panel at the Top */
#statuspanel:not([hidden]) {
  display: flex !important;
  justify-self: center !important;
  padding-top: 0 !important;
  inset-inline: auto !important;
  inset-block: 0 auto !important; /* top status panel */
  min-width: unset !important;
}
#statuspanel-label {
  /* border-width: 1px 1px 0px 1px !important; */
  border-width: 0 1px 1px 1px !important; /* top status panel */
  border-style: solid !important;
  margin-inline: auto !important;
}
